*.ckpt

*.egg-info

*.ipynb

*.log

*.model

*.pth

*.pyc

*.npy

__pycache__/

sms/sample_data/*

sms/configs/__pycache__/*
sms/data/__pycache__/*
sms/data/utils/__pycache__/*
sms/encoders/__pycache__/*

sms/scripts/outputs/*

sms/ur5_interface/ur5_interface/data/*
sms/ur5_interface/ur5_interface/scripts/outputs/*
outputs/*
