*.ckpt

*.egg-info

*.ipynb

*.log

*.model

*.pth

__pycache__/

sms/data/utils/Detic/detic_masks

sms/configs/__pycache__/*

sms/data/utils/__pycache__/*

sms/encoders/__pycache__/*

outputs

stapler_cup_apple_2_scissors